<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIIL</title>
</head>
<body>
    <form action="/" method="POST">
        <input type="text" name="link" id="link">
        <label for="link">Link</label>
        <button type="submit">Submit</button>
    </form>

    <ol>
    {% for link in links %}
        <div class="link" style="display: flex;">
            <li id="{{link.id}}"><a href="{{link.link}}">{{link.link}}</a></li>
            <button type="button" style="margin-left: 30px;" class="delete">Delete</button>
        </div>
    {% endfor %}
    </ol>

    <script>
        document.querySelectorAll('button.delete').forEach((button) => {
            button.addEventListener('click', (e) => {
                window.location = `/delete/${e.target.parentElement.children[0].id}`
            })
        })
    </script>
</body>
</html>