<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIIL</title>
</head>
<body>
    <form action="/" method="POST">
        <fieldset>
            <legend>LIIL</legend>
            <div>
                <label for="link">Link:</label>
                <br>
                <input type="text" name="link" id="link" required style="width: 50%; height: 50px;">
            </div>
            <br>
            <div>
                <label for="tag">Channel Tag:</label>
                <br>
                <select name="tag" id="tag" required>
                    {% for tag in tags %}
                        <option value="{{tag}}">{{tag}}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div>
                <button type="submit">Submit</button>
            </div>
        </fieldset>
    </form>

    <table>
        <tr>
            <th>Link</th>
            <th>Tag</th>
            <th>Discord</th>
            <th>Delete</th>
        </tr>
        {% for link in links %}
            <tr id="{{link.id}}">
                <td><a href="{{link.link}}" target="_blank">{{link.link}}</a></td>
                <td>{{link.tag.upper()}}</td>
                {% if not link.is_posted_to_discord %}
                    <td>
                        <button type="button" class="discord" style="width: 100px; margin: 10px;">Discord</button>
                    </td>
                {% else %}
                    <td>
                        <button type="button" class="discord" style="width: 100px; margin: 10px;" disabled>Discord</button>
                    </td>
                {% endif %}
                <td>
                    <button type="button" class="delete" style="width: 100px; margin: 10px;">Delete</button>
                </td>
            </tr>
        {% endfor %}
    </table>

    <script>
        document.querySelectorAll('button.delete').forEach((button) => {
            button.addEventListener('click', (e) => {
                window.location = `/delete/${e.target.closest('tr').id}`
            })
        });

        document.querySelectorAll('button.discord').forEach((button) => {
            button.addEventListener('click', (e) => {
                window.location = `/discord/${e.target.closest('tr').id}`
            })
        });

        document.querySelectorAll('button.copy').forEach((button) => {
            button.addEventListener('click', (e) => {
                navigator.clipboard.writeText(e.target.closest('tr').children[0].children[0].href)
            });
        });
    </script>
</body>
</html>
